*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
}
.about-section{
    background: url(about_img.jpg) no-repeat left;
    background-size: 55%;
    background-color: black;
    overflow: hidden;
    padding: 100px 0;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: rgb(139, 136, 136);
    padding: 150px;
    color: white;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
    text-align: center;

}
.text{
    font-size: 20px;
    color:#ffffff;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.options{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orange;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform:translateX(80%);

}

button span{
    background: orange;
    height: 100%;
    width: 0;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}
button:hover {
    border: none;

}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width:100%;
    }
}
@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}